.navbar {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    position: relative;
    
    .logo-box {
        height: 100%;
        width: 70px;
        display: flex;
        align-items: center;
    }

    &__nav {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: -15px;

        &-item {
            padding: 10px 15px;
            text-transform: uppercase;
            cursor: pointer;
        }
    }
}